.GameModuleStatsInfo {
  display: inline-block;
  border-radius: 10px;
  background-color: rgba(54, 54, 54, 0.7);
  background-color: whitesmoke;
  text-align: center;
  padding: 10px;
  color: #3a3a3a;
  margin: 20px 20px 20px 0px;
}

.totalMinionsKilled,
.csPM,
.creepScore,
.kills,
.totalDeaths,
.KDA,
.champLevel,
.goldEarned {
  font-size: 12px;
}

.perkPrimaryStyle,
.perkSubStyle {
  background-color: #2e2e2e;
  padding: 3px;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  margin-top: 10px;
  border: 2px solid #999999;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.perkPrimaryStyle:hover,
.perkSubStyle:hover {
  box-shadow: 0 0 3px #333333;
  cursor: pointer;
}

.perkPrimaryStyle {
  margin-right: 5px;
}

.perkSubStyle {
  margin-left: 5px;
}

.csPM {
  color: #2e2e2e;
}

.totalDeaths {
  color: #a52121;
}
