.MatchOverviewPanel {
  display: inline-block;
}

.queueIdMO,
.gameCreationDateMO,
.gameCreationTimeMO,
.gameDurationMO {
  color: whitesmoke;

}.gameCreationDateMO,
.gameCreationTimeMO,
.gameDurationMO {
  font-size: 12px;
}

.queueIdMO {
  margin-top: 15px;
}

.gameDurationMO {
  margin-bottom: 15px;
}