.bioBody {
  height: 1500px;
  width: 800px;
  margin-right: 100px;
  margin-left: 100px;
  background-color: rgb(110, 110, 110);
  margin-top: 170px;
  z-index: 2;
  position: relative;
  border-radius: 10px 150px 0px 0px;
  /* border-radius: 10px; */
}
