.bioBody {
  margin-right: 100px;
  margin-left: 100px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  background-color: rgb(110, 110, 110);
  z-index: 2;
  position: relative;
  border-radius: 10px 150px 10px 10px;
}

.champLore {
  width: 680px;
  padding-top: 25px;
  padding-left: 30px;
  padding-bottom: 55px;
  color: whitesmoke;
}

.passiveIcon {
  height: 70px;
  width: 70px;
  border: 2px solid #999999;
  border-radius: 10px;
  margin-left: 70px;
  margin-right: 30px;
}

.spellText {
  background-color: rgb(94, 94, 94);
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  color: whitesmoke;
  text-align: center;
  border: 1px solid #333333;
  margin-right: 220px;
  margin-bottom: 20px;
}

.descriptionText {
  background-color: rgb(94, 94, 94);
  color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
