.champIcon,
.assists,
.champLevel,
.deaths,
.goldEarned,
.goldSpent,
.item0,
.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.kills,
.win {
  border-radius: 10px;
}

.GameItem {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin-bottom: 20px !important;
  margin-top: 25px;
  border-radius: 10px;
  background-color: rgba(54, 54, 54, 0.7);
  box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);
  width: 94%;
  margin-left: 22px;
  /* margin: 0 auto; */
}

.containerZero,
.containerOne,
.containerTwo,
.containerThree {
  display: inline-block;
}
