.GameModuleFullMatchInfo {
  /* background-color: rgb(255, 255, 255); */
  background-color: rgb(112, 112, 112);
  text-align: center;
  border-radius: 10px;
  margin: 20px 0px 20px 0px;
  padding: 20px;
}

.fullMatchText {
  color: whitesmoke;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.fullMatchText:hover {
  text-shadow: 0 3px 3px rgba(10, 10, 10, 0.5);
  cursor: pointer;
}
