.GameModuleChampInfo {
  background-color: whitesmoke;
  text-align: center;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border-radius: 10px;
  color: #3a3a3a;
  margin: 20px 20px 20px 0px;
}

/* .GameModuleChampInfo:hover {
  box-shadow: 0 0 10px #333333;
} */

.champContainer {
  position: relative;
  padding: 14px 15px 1px 15px;
}

.spell1,
.spell2 {
  border-radius: 5px !important;
  height: 35px;
  width: 35px;
  position: absolute;
  z-index: 1;
  margin-top: 75px;
  border: 2px solid #999999;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.spell1:hover,
.spell2:hover,
.champIcon:hover {
  box-shadow: 0 0 3px #333333;
  cursor: pointer;
}

.spell1 {
  top: 0;
  left: 0;
  margin-left: 10px;
}

.spell2 {
  top: 0;
  right: 0;
  margin-right: 10px;
}

.champIcon {
  display: block;
  height: 100px;
  width: 100px;
  border: 2px solid #999999;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* .role {
  font-size: 10px;
  margin-bottom: 5px;
} */
