.bioCover {
  height: 500px;
  width: 1000px;
  border-radius: 0px 0px 10px 10px;
  background-color: rgb(94, 94, 94);
  z-index: 20;
  position: fixed;
}

.classWrapper {
  height: 578px;
  margin-top: 43px;
}

.champSplash {
  position: fixed;
  width: 800px;
  height: auto;
  margin-right: 100px;
  margin-left: 100px;
  border-radius: 0px 0px 50px 1000px;
  z-index: 20;
}

.champTitle {
  position: fixed;
  color: whitesmoke;
  z-index: 30;
  margin-top: 320px;
  margin-left: 180px;
  background-color: rgb(139, 139, 139);
  border: 1px solid #333333;
  padding: 20px;
  border-radius: 10px;
  font-size: 24px;
}
