/* @import url("https://fonts.googleapis.com/css?family=Press+Start+2P"); */

.dot,
.bannerTxt,
.textContainer {
    font-family: "Press Start 2P", sans-serif;
}

.dot {
    color: #701313;
}

.bannerTxt {
    color: #701313;
}

.textContainer {
    margin-top: 15vh;
    font-size: 100px !important;
}
