.GameModuleMatchInfo {
  display: inline-block;
  border-radius: 10px;
  background-color: whitesmoke;
  text-align: center;
  padding: 18px 30px 18px 30px;
  color: #3a3a3a; 
  margin: 20px 20px 20px 0px !important;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.GameModuleMatchInfo:hover {
  box-shadow: 0 0 3px #333333;
}

.outcome {
  margin-bottom: 15px;
}

.gameCreationDate,
.gameCreationTime,
.gameDuration {
  font-size: 12px;
}

.gameDuration {
}
