.spells {
  display: inline-block;
  margin-right: 25px;
}

.spellIcon {
  text-align: center;
  color: whitesmoke;
  margin-bottom: 5px;
  font-size: 14px;
  border-radius: 10px;
  height: 45px;
  width: 45px;
}

.spellIconPage {
  border: 1px solid whitesmoke;
}

.spellIconPage:hover {
  box-shadow: 0 0 20px rgba(116, 116, 116, 0.6);
}

.spellItemText {
  color: whitesmoke;
  text-align: center;
}
