.utilBanner {
  background-color: rgba(54, 54, 54, 0.7);
  height: 50px !important;
  margin-bottom: 15px;
  border-radius: 10px;
  width: 962px;
  margin-left: 11px;
}

.is-active,
.is-loading,
.button {
  outline: none !important;
}

button {
  outline: none !important;
}

:focus {
  outline: 0;
}

.updateButton {
  outline: none !important;
  display: inline-block;
  margin-top: 7px;
  border-radius: 10px;
  background-color: #008cba;
  border: none;
  color: white;
  padding: 5px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: rgb(46, 46, 46);
  margin-left: 45px;
}

.updateButton:hover {
  transform: scale(1.1);
}

.updateButton1 {
  margin-right: 15px;
}
