.userBanner {
  border-radius: 10px;
  /* Don't touch this one k */
  margin-bottom: 37px;
}

.title {
  margin-bottom: 5px !important;
  font-size: 20px !important;
}

.userIcon {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  box-shadow: 0 3px 3px rgba(10, 10, 10, 0.5);
  /* margin-top: 15px; */
  border: 3px solid #ddd;
  display: flex;
}

.rankedIcon {
  height: 75px;
  width: 75px;
  position: relative;
}

.box {
  background-color: rgba(54, 54, 54, 0.7);
  margin-bottom: 15px;
  width: 980px;
}

.rankedSoloText,
.userText,
.levelText {
  color: whitesmoke;
}

.userText {
  margin-bottom: 5px;
  border-spacing: 15px;
  text-shadow: 0 3px 3px rgba(10, 10, 10, 0.5);
  font-size: 14px;
}

.media-left,
.media-content {
  background-color: rgb(112, 112, 112);
  text-shadow: 0 3px 3px rgba(10, 10, 10, 0.5);
  border-radius: 10px;
}

.media-left {
  position: relative;
  text-align: center;
  padding: 7px 15px 27px 15px;
}

.media-content {
  margin-right: 1rem;
  padding: 7px 15px 6px 15px;
}

.rankedSoloText {
  text-align: left;
  font-size: 14px;
}

.rankPlacementText {
  color: #cecece;
}

.positionText {
  color: whitesmoke;

  font-size: 14px;
}

.levelContainer {
  text-align: center;
  position: absolute;
  top: 0px;
  border-radius: 10px;
  margin-top: 121px;
  margin-left: 42px;
  /* margin: 0 auto;
  margin-top: 10px; */
  width: 20%;
  left: 0;
  right: 0;
  /* padding: 0px 8px 0px 8px; */
  min-width: 45px;
  background-color: #82652e;
  background-color: #1e2328;
  border: 2px solid #82652e;
  height: 26px;
}

.levelText {
  text-align: center;
}
